VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(4, 2, 1, 0),
    prodvers=(4, 2, 1, 0),
    mask=0x3f,
    flags=0x0,
    OS=0x40004,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
    ),
  kids=[
    StringFileInfo(
      [
      StringTable(
        u'040904B0',
        [StringStruct(u'CompanyName', u'NajmiAchraf'),
        StringStruct(u'FileDescription', u'Hydrologie des eaux souterraines'),
        StringStruct(u'FileVersion', u'4.2.1.0 FV'),
        StringStruct(u'InternalName', u'Hydrogéologie'),
        StringStruct(u'LegalCopyright', u'Copyright © 2021 NajmiAchraf™ MIT License All rights reserved ®'),
        StringStruct(u'OriginalFilename', u'Hydrogeologie v4.2.1.0 FV.exe'),
        StringStruct(u'ProductName', u'Hydrogéologie ℗'),
        StringStruct(u'ProductVersion', u'4.2.1.0')])
      ]),
    VarFileInfo([VarStruct(u'Translation', [1033, 1200])])
  ]
)